{% extends 'admin/adminhome.html' %}

{% load static %}

{% block title %}
	Edit Bug
{% endblock %}

{% block content %}
{% if user.is_authenticated%}

<a href="javascript:history.back()"><span class="go-back fas fa-chevron-left">Go Back</span></a>
<h2 class="page-header text-justified">Update Bug Entry</h2>
<div class="container-fluid">
	<form class="form-group" method="post">
		{% csrf_token %}
		<table class="table table-borderless">
			<tr>
				<td><label for="btitle">Title</label></td>
				<td><input type="text" name="btitle" placeholder="Title" value="{{bugs.btitle}}" required="required" class="form-control" maxlength="100" autocomplete="off"></td>
			</tr>
			<tr>
				<td><label for="project">Select Project</label></td>
				<td>
					<select id = "projectList" name="project" required="required" class="custom-select dropdown-primary">
						<option value = "{{bugs.project}}" selected readonly hidden>{{bugs.project}}</option>
						{% for project in projects %}
	 					<option value = "{{project.ptitle}}">{{project.ptitle}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="btype">Type</label></td>
				<td>
					<select id = "typeList" name="btype" required="required" class="custom-select dropdown-primary">
						<option value = "{{bugs.btype}}" selected readonly hidden>{{bugs.btype}}</option>
	 					<option value = "Bug">Bug</option>
						<option value = "Feature">Feature</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="tech">Technology</label></td>
				<td><input type="text" name="tech" placeholder="Technology" value="{{bugs.tech}}" required="required" class="form-control" maxlength="100" autocomplete="off"></td>
			</tr>
			<tr>
				<td><label for="bugdescription">Description</label></td>
				<td>
					<textarea class="form-control" placeholder="Add a description" id="bugdescription" name="bugdescription" rows="3" autocomplete="off">{{bugs.bdescription}}</textarea>
				</td>
			</tr>
			<tr>
				<td><label for="bstatus">Status</label></td>
				<td>
					<select id = "typeList" name="bstatus" required="required" class="custom-select dropdown-primary">
						<option value = "{{bugs.bstatus}}" selected readonly hidden>{{bugs.bstatus}}</option>
	 					<option value = "Pending">Pending</option>
						<option value = "In Process">In Process</option>
						<option value = "Testing">Testing</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="mx-auto">
					<input type="submit" class="form-btn btn btn-primary" value="Update">
					<input type="button" class="form-btn btn btn-secondary" onclick="history.back()" value="Cancel">
				</td>
			</tr>
		</table>
	</form>
</div>

{% else %}
	<meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% endif %}
{% endblock %}