{% extends 'admin/adminhome.html' %}

{% load static %}

{% block title %}
	Report Requests
{% endblock %}

{% block content %}
{% if user.is_authenticated%}

<a href="javascript:history.back()"><span class="go-back fas fa-chevron-left">Go Back</span></a>
<h2 class="page-header text-justified">Report Requests</h2>

<div class="container-fluid">
	<table  data-toggle="table" data-pagination="true" data-search="true" class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Type</th>
				<th>Project</th>
				<th>Technology</th>
				<th>Report Details</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="myTable">
			{% for bug in bugs %}
				{% if not bug.approve %}
				<tr>
					<td>{{bug.btitle}}</td>
					<td>{{bug.btype}}</td>
					<td>{{bug.project}}</td>
					<td>{{bug.tech}}</td>
					<td>{{bug.bdescription}}</td>
					<td><a href="../approvebug/{{bug.id}}">Approve</a> | <a href="../deletebug/{{bug.id}}">Delete</a></td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>

{% else %}
	<meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% endif %}
{% endblock %}