{% extends 'index.html' %}
{% load static %}

{% block title %}
	About
{% endblock %}

{% block content %}
<a href="javascript:history.back()"><span class="go-back fas fa-chevron-left">Go Back</span></a>
<div class="about-container">
	<div class="jumbotron">
		<h1 class="display-4">About</h1>
		<p class="lead common-details">About page filled with the about of the BugTracker, it's featured content and information.</p>
		<hr class="my-4">
		<p class="common-details">Some more information on BugTracker to make this seem legit and longer.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>
</div>
{% endblock %}