{% extends 'index.html' %}
{% load static %}

{% block title %}
	Change Password
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}

<div class="container">

	<div class="form-container border border-top-0">
		<div class="header-container"><h4>Change password</h4></div>
		<form class="form-group" method="post">
			{% csrf_token %}
			<label for="email">Email</label>
			<div class="input-group">
				<input type="email" name="email" placeholder="email" required="required" class="form-control" autocomplete="off">
				<span class="input-group-addon"><span class="fas fa-envelope"></span></span>
			</div>
			<label for="password1">New Password</label>
			<div class="input-group">
				<input type="password" name="password1" placeholder="Password" required="required" class="form-control" autocomplete="off">
				<span class="input-group-addon"><span class="fas fa-key"></span></span>
			</div>
			<label for="password2">Confirm Password</label>
			<div class="input-group">
				<input type="password" name="password2" placeholder="Confirm Password" required="required" class="form-control" autocomplete="off">
				<span class="input-group-addon"><span class="fas fa-key"></span></span>
			</div>
			<div class="text-right">
				<input type="submit" class="btn btn-primary" value="Change Password">
				<input type="button" class="btn btn-secondary" onclick="history.back()" value="Cancel">
			</div>
		</form>
	</div>
	<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form>
					<div class="modal-header">
					</div>
					<div class="modal-body text-center">
						<h4>Password Reset Successfully! <i class="fas fa-check-circle"></i></h4>
					</div>
					<div class="modal-footer">
						<input type="Submit" class="btn btn-secondary" data-dismiss="modal" value="Close">
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
{% endif %}
{% endblock %}
