
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}Home{% endblock %}
	</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/all.css' %}" >
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
	<div class="container-float">
	{% if user.is_authenticated %}
	{% if not user.is_superuser %}
	{% if not user.is_staff %}
	<div class="row">
		<div class="col-lg-3 col-md-3 menu_block" id="menu_panel">
			<button class="closebtn" id="close_btn" onclick="closeNav()">&times;</button>
			<div class="avatar">
				<a href="testerprofile">
					{% if user.pic %}
					<img src="{{ user.pic }}" alt="" class="mx-auto d-block">
					{% else %}
					<img src="{% static 'img/user_1.png' %}" alt="" class="mx-auto d-block">
					{% endif %}
				</a>
				<h3 class="text-center" style="color:white">@{{ user.get_username }}</h3>
			</div>
			<div class="navbar" id="main_menu">
				<ul class="menu_nav">
					<li class="active">
						<a href="../">
							View Bugs
						</a>
					</li>
					<li>
						<a href="../report">
							Report
						</a>
					</li>
					<li>
						<a href="../testerprofile">
							Edit Profile
						</a>
					</li>
						<li>
							<a href="../contact">
								Contact Us
							</a>
						</li>
						<li>
							<a href="../about">
								About
							</a>
						</li>
					<li>
						<a href="../logout">
							Logout
						</a>
					</li>
				</ul>
			</div>
		</div>
		<button id="menu_btn" class="menu-btn" onclick="openNav()">&#9776;</button>
		<div class="col-lg-9 col-md-9 col-12 content_panel">
			<div class="content-inner">
				<div class="home-block">
					{% block content %}
					<h2 class="page-header">View Bugs</h2>
						<div class="container-fluid">
							<table  data-toggle="table" data-pagination="true" data-search="true" class="table table-bordered table-striped">
								<thead class="thead-dark">
									<tr>
										<th>Title</th>
										<th>Type</th>
										<th>Project</th>
										<th>Technology</th>
										<th>Status</th>
										<th>Description</th>
										<th>Solution</th>
									</tr>
								</thead>
								<tbody id="myTable">
									{% for bug in bugs %}
									{% if bug.approve %}
										<tr>
											<td><a href="../bugdetails/bugId={{bug.id}}">{{bug.btitle}}</a></td>
											<td>{{bug.btype}}</td>
											<td>{{bug.project}}</td>
											<td>{{bug.tech}}</td>
											<td>{{bug.bstatus}}</td>
											<td>{{bug.bdescription}}</td>
											<td>
												{% for solutions in solutions %}
												{% if solutions.bug_id == bug.id %}
												<a href="../solutionlist/bugId={{bug.id}}">List Solutions</a>
												{% else %}
												<a href="../bugdetails/bugId={{bug.id}}">View Details</a>
												{% endif %}
												{% endfor %}
											</td>
										</tr>
									{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endif %}
{% else %}
	<meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% endif %}

	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
</body>
</html>