{% extends 'index.html' %}

{% load static %}

{% block title %}
	Login
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}

	<div class="container">

		<div class="form-container border border-top-0">
			<div class="header-container"></div>
			<img id="user-icon" src="{% static 'img/user_1.png' %}" alt="Avatar" class="mx-auto d-block">
			<form class="form-group" id="log" method="post">
				{% csrf_token %}
				<div class="input-group">
					<span class="input-group-addon"><span class="fas fa-user"></span></span>
					<input type="text" name="username" placeholder="Username" required="required" class="form-control" autofocus maxlength="100" autocomplete="off">
				</div>
				<div class="input-group">
					<span class="input-group-addon"><span class="fas fa-key"></span></span>
					<input type="password" name="password" placeholder="Password" required="required" class="form-control">
				</div>
				<input type="submit" class="btn btn-block" value="Login">
				<p>Forgot Your <a href="{% url 'resetPassword' %}">Password?</a></p>
			</form>
		</div>

	</div>
{% endif %}
{% endblock %}
